.header {
    color:white;
    height: 80px;
    font-size: 34px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(34, 81, 238);
}

.searchCard {
    margin-right: 80px;
}

.form-control {
    font-size: small;

}

.list-group-item {
    font-size: small;
    color: rgb(86, 88, 88);
}

h2 {
    font-size: 20px;
    color: rgb(86, 88, 88);
    padding-bottom: 10px;
}

.fa {
    color: deeppink
}

#today {
    font-size: 20px;
    color: rgb(86, 88, 88); 
}

.forecast {
    height: 120px;
}
